@charset "utf-8";

/* 공통 */
.title-box h3 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 900;
}

.title-box p {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 700;
}

/* 헤더 */
#sslo-header {
  background: #000 url(../../../assets/images/sslo/main.gif) no-repeat center 0;
}

nav {
  width: 100%; 
  height: 80px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
}

/* 인트로 */
.intro-type2 {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 185px;
  box-sizing: border-box;
  height: 400px;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.intro-type2 img {
  width: 300px;
}

.intro-type2 h2 {
  z-index: 20;
  position: relative;
  margin-top: 45px;
  font-size: 28px;
  font-weight: 900;
}

.intro-type2 b {
  position: absolute;
  top: 310px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 88px;
  color: rgb#243654(134, 125, 125);
  opacity: 0.1;
}

.intro-type2 p {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.6;
}

.container {
  margin: auto;
  width: 1300px;
}

.sub-section {
  padding: 50px 0 30px;
}

/* 섹션1-게시판 */
.sec_privacy {
  width: 40%;
  margin: auto;
}

.sec_privacy table {
  width: 100%;
  font-size: 18px; 
  line-height: 1.6; 
  border: 1px solid #243654;
}

.sec_privacy table tr {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.sec_privacy table th {
  display: flex;
  width: 200px;
  padding: 20px 0;
  height: 100%;
  min-height: 30px;
  justify-content: center;
  align-items: center;
  background: #243654; 
  color: #fff; 
  border-bottom: 1px solid #aaa;
}

.sec_privacy table td {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #243654;
}

.sec_privacy table tr:last-child th {
  border-bottom: none;
}

.sec_privacy table tr:last-child td {
  border-bottom: none;
}

.sec_privacy table input{border:none; background: #E8F5FF; width: 200px; height: 30px; padding: 0 10px; box-sizing: border-box; font-size: 16px; border: 1px solid #243654;} 

/* 페이지 버튼 */
.pager {
  display: flex;
  margin-top: 60px;
  justify-content: center;
}

.pager button {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}

.pager .left {
  margin-right: 25px;
}

.pager .right {
  margin: 0 0 0 10px;
}

/* 현재페이지 */
.pager .pagenum1 {
  background: #1B5994;
  color: #fff;
}

/* 테이블1 */
.table1 input {
  border: none;
  background: #E8F5FF;
  width: 200px;
  height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #243654;
}

/* 버튼박스 */
.button-box {
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #243654;
  color: #243654;
  font-weight: 700;
  margin-left: 20px;
  font-size: 16px;
}

.button-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #243654;
  color: #243654;
  font-weight: 700;
  margin-left: 20px;
  font-size: 16px;
}

.button-box .modify {
  background: #243654;
  color: #fff;
}

.button-box .btn-save {
  background: #243654;
  color: #fff;
}

.button-box .btn-quit {
  background: #FF4343;
  border: #FF4343;
  color: #fff;
}

.password-modify-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  background: #1B5994;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}

/* 메뉴바 */
.lnb {
  position: relative;
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 3px #ddd;
  top: 0;
  z-index: 1;
}

.lnb ul {
  position: relative;
  margin: auto;
  width: 1300px;
  display: flex;
  justify-content: center;
}

.lnb li {
  width: 325px;
  display: flex;
  justify-content: center;
}

.lnb li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 60px;
  font-size: 18px;
  font-weight: 800;
}

.lnb .container {
  position: relative;
  margin-top: -3px;
}

.lnb .now {
  padding: 0 60px;
  position: absolute;
}

.lnb .now .now-bar {
  width: 205px;
  box-sizing: border-box;
  height: 10px;
  border-radius: 5px;
  background: #1b5994;
}  